*{
    margin: 10px;
    margin-left: 30px;
}
.container{
margin-top:  15px;
margin-left: 150px;
background-color: rgb(245, 217, 245);
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 700px;
  height: 250px;

}

.msg{
    margin-top: 20px;
    margin-left: 30px;
}
.otp{
    margin-left: 30px;
}
.otps{
    color: rgb(248, 8, 8);
}
.val, .submit{
    margin-left: 80px;
    background-color: darkgreen;
    color: white;
    font-size:medium ;
    height: 30px;
    width: 100px;
}